<h1>Stupid Coach</h1>


<form action="/answer" method="get">
  <label for="question"> What is your question? </label>
  <br>
  <br>
  <input type="text" name="question" class="form-control">
  <input type="submit">
</form>

